.athlet {
	&-photo {
		width: 100%;
		height: 225px;
		position: relative;
		z-index: 1;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-info {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: darken($primary, 40%);
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		opacity: 0;
		transition: opacity .2s linear;
	}
	&-about {
		font-family: $custom-font-family;
		h5 {
			font-weight: 600;
		}
		span {
			color: darken($primary, 50%);
		}
	}
}

.athlets-block {
	.card:hover {
		.athlet-info {
			opacity: 0.85;
		}
	}
}
