
.carousel {
	padding-top: 80px;
	&-item {
		 > img {
		    width: 100%;
		    object-fit: cover;
		    height: 75vh;

		}
	}
	&-caption {
		z-index: 1;
		padding: 15px;
		&:after{
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
			background-color: $primary;
			opacity: .6;
	        border-radius: 15px;
		}
		h1 {
			font-weight: 700;
			color: $gray-900;
		}
	}
}


