html {
	position: relative;
    min-height: 100%;
}
html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Open Sans", Roboto, "Helvetica Neue", Arial, sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
}
/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	padding: 2% 0;
}

main {
	padding-bottom: 420px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}
@media screen and (max-width: 1199) {
	main {
		padding-bottom: 1000px;
	}
}

@media screen and (max-width: 991px){
	
}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 575px) {
	h1{	
		@include font($font-size-h1*0.85,$line-height-h1*0.85,$title-color);
	}
	h2{
		@include font($font-size-h2*0.85,$line-height-h2*0.85,$title-color);
	}
	h3{
		@include font($font-size-h3*0.85,$line-height-h3*0.85,$title-color);
	}
	.btn {
  		@include button-size($btn-padding-y*0.85, $btn-padding-x*0.85, $font-size-base*0.85, $btn-line-height*0.85, $btn-border-radius);
	}
}



