
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    color: $light;
    background-color: lighten($secondary, 25%);
    &-socials {
    	background-color: $secondary;
    }
    &-copyright {
    	background-color: lighten($secondary, 35%);	
    }
    hr {
        color: $light;
    }
}
