
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	background:#000 no-repeat left top; 	
	height:80px; 
	text-align:left;
	width:100%;
}